.container {
  display: flex;
  font-family: Roboto;
  padding: 20px 0;
  border-top: 1px solid #e6e6e6;
  margin: 10px 5px;
  letter-spacing: .5px;
  color: #545454;

  .logo {
    width: 30%;
    text-align: center;

    img {
      max-width: 100px;
    }
  }

  .job-info {
    padding: 0 10px;

    .bold {
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    .salary-location {
      font-size: 14px;
      margin: 15px 0 30px;

      .salary {
        float: left;
        margin-right: 50px;

        span {
          font-weight: 600;
        }
      }
    }

    .description {
      font-size: 13px;
    }

    .skills {
      margin-top: 20px;
      font-size: 14px;

      div {
        display: inline;
        padding: 3px 10px;
        background-color: #e1e3e6;
        border-radius: 3px;
        margin-right: 5px;
        cursor: pointer;
      }

      span {
        color: #559d2d;
        cursor: pointer;
      }
    }
  }

  .apply-button {
    width: 35%;
    text-align: center;
  }
}
