$black: #000;
$white: #fff;
$dialog-background: rgba(58, 67, 104, .85);
$dark-gray: #3b3b3b;
$background: #f4f7f9;
$blue-ly: #4c70ff;
$light-gray: #e2e2e2;
$font-light-gray: #696969;
$font-light-desc: #797979;
$shadow-gray: #c5c5c5;
$font-gray: #a8a8a8;
$label-font: #545454;
$link-blue: #3b54ff;
$input-border: #e1e3e6;
$error-font: #ff1e1e;
$error-background: #ffc6c6;
$error-border: #ff9595;
$success-background: #5aca8f;
$success-border: #34b973;
$button-gray: #545454;
$skyblue: #00a6da;
$cornflower-blue: #6f89ed;
$dashed-color: #e1e1e1;
$descrip-color: #b7b7b7;
$blue-border: #9aafff;
$blue-border-selector: #4b6efa;
$font-tag: #ececec;
$box-shadow: #dcdcdc;
$back-link-gray: #9b9b9b;
$time-font-gray: #2d2d2d;
$time-font-light-gray: #707070;
$dashed-color: #e1e1e1;
$lighten-gray: #e9edef;
$disabled-background: #fbfbfb;
$font-desc: #848484;
$hr: #d2d8db;
$placeholder: #a9a9a9;
$doc-descrip: #939393;
$dodger-blue: #3ab9fd;
$red: red;
$error-msg: #ee5657;
$blue-term: #344fc0;
$light-gray: #e6e6e6;
$red-danger:  #ff5959;
$red-dark: #ff2929;
$green-mint: #23a561;
$caption-grey: #858585;
$dialog-caption: #454545;
$trial-table: #dedede;
$failed-red: #d0021b;
$failed-grey: #f5f5f5;
$status-grey: #ccc;
$cerulean: #0698e7;
$mercury: #e4e4e4;
$dark-sky-blue: #249ce0;
$dark-sky-blue-three: #2d9cec;
$dark-sky-blue-five: #3d88df;
$battleship-grey: #717c88;
$lynch: #657f9c;
$azure: #0895ea;
$azure-three: #1f99eb;
$box-shadow: #c8c8c8;
$azure-two: #0093e9;
$periwinkle-blue: #9db0f4;
$danube: #6f94db;
$bluish: #2184ce;
$bluish-two: #317dd5;
$azure-90: #1396ea;
$picton-blue: #3c9eed;
$dark: #1b2734;
$pale-grey-three: #e6e8eb;
$warm-grey-two: #747474;
$gray: #898989;
$mystic: #eaeff2;
$alabaster: #f9f9f9;
$warm-grey-tree: #9f9f9f;
$warm-grey-three: #9f9f9f;
$white-three: #fdfdfd;
$duck-egg-blue: #cfe7fb;
$cornflower-blue: #678cd7;
$white-four: #d8d8d8;
$pinkish-grey: #bebebe;
$black-two: #3a3a3a;
$greyish-brown-two: #3e3e3e;
$pale-grey-four: #f6f8f9;
$white-six: #dadada;
$greyish-brown-three: #545148;
$social-btn: #0aa3dc;
$dark-sky-blue-two: #279ce1;
$greyish-brown-four: #494949;
$list-hover: #f2f2f2;
$dark-sky-blue-six: #3aa1de;
$pale-grey-five: #ecf2f4;
$turquoise-blue-two: #02a5da;
$warm-grey-five: #888;
$warm-grey-six: #9a9a9a;
$pinkish-grey-two: #cecece;
$green-teal: #34b973;
$dark-mint-two: #41c35b;
$greyish-two: #a4a4a4;
$water-blue: #1a9fde;
$pinkish-grey-three: #bfbfbf;
$greyish-three: #b0b0b0;
$brownish-grey: #5a5a5a;
$slate: #536475;
$dark-sky-blue-seven: #34b6e0;
$button-green: #32d189;
$silver-three: #eaebec;
$blue-grey: #7c93a0;
$silver-four: #dde2e4;
$greyish-four: #aaa;
$very-light-blue: #edf5ff;
$warm-grey-seven: #727272;
$pinkish-grey-four: #c6c6c6;
$greyish-five: #ababab;
$warm-grey-eight: #969696;
$dark-sky-blue-eight: #57afd9;
$charcoal-grey: #3c4651;
$turquoise-blue-three: #03a6db;
$grey-cancel-subscription: #b4b4b4;
$yellow-shade: #ffffed;
$white-seven: #eaeaea;
$pastel-red: #e16160;
$cloudy-blue: #bac7cf;
$seaweed-two: #1fcf7f;
$blush: #ed7474;
$greyish-four: #aaa;
$slate-two: #434e66;
$bluey-grey: #8a95ad;
$dark-sky-blue-ten: #29b3e0;
$light-grey: #f2f4f4;
$tomato: #f33f3f;
$blue-main: #1966d0;
$blue-light: #3c9eed;
$green-apple: #559d2d;
$light-grey-two: #f5f8fb;
