@import '~stylesheets/variables';

.container {
  background-color: $light-grey-two;
  min-height: 100%;

  .tab {
    margin: auto 15%;
    padding-bottom: 1.5em;
    border: 1px solid $dashed-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: white;
  }
}
