@import '~stylesheets/variables';

.container {
  background-color: #f5f8fb;
  min-height: 100%;
  text-align: center;
  height: 300px;

  .form-container-description {
    color: $label-font;
    font-size: 14px;
    padding-top: 150px;
    margin-bottom: 20px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .form-container {
    height: 330px;
    max-width: 500px;
    padding: 15px 35px 35px;
    background: $white;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba($black, .2);
    box-sizing: border-box;
    text-align: left;
    border: 1px solid $dashed-color;

    .error {
      padding: 5px;
      text-align: center;
      border-radius: 5px;
      background-color: #ffc6c6;
      border: 1px solid #ff9595;
      color: $tomato;
      font-size: 13px;
      margin-bottom: 20px;
    }

    .ghost {
      padding: 5px;
      height: 14px;
      margin-bottom: 20px;
    }
  }

  .redirect-msg {
    margin: 20px 0 30px;
    font-size: 14px;
    color: $label-font;
  }

  .link-style {
    color: $dark-sky-blue-two;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 2px;
  }
}
